@charset "UTF-8";

header, section, footer, aside, nav, main, article, figure {
    display: block;
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #333;
}
section#container {
	position: relative;
	width: 310px;
	height: 310px;
	margin: auto;
}
section#container div#tools {
	position: relative;
}
section#container div#tools button {
	width: 99px;
	font-size: 0.9em;
	padding: 0.5em 0.1em;
	border: 0;
	background-color: #222;
	cursor: pointer;
	color: #999;
	text-transform: uppercase;
}
section#container div#tools button#exit {
	float: right;
}
section#container div#tools button:hover {
	background-color: #999;
	color: #222;
	transform: scale(1.03);
	transition: background-color 1s;
}
section#container div.block {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	background-color: #FF6666;
	margin: 1px;
}
section#container div.block div.canvas {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}	
section#container div.block div.canvas div.pixel {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	background-color: transparent;
}
section#container p#alertArea {
	position: absolute;
	text-align: center;
	width: 305px;
	top: 310px;
	padding: 20px 0;
	color: #FF6666;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000; 
}